body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 480px;
    margin: 100px auto;
}
header {
    text-align: center;
    margin: auto 2em;
}

s1 {
    align-content: end;
}

p {
    margin: .2em auto
}
