body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

s1 {
    align-content: flex-end;
}

p {
    margin: .2em auto
}
