body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;

}

pop {
    margin-top: 30%;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}
main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 1px solid lightgray;
}

 /* Tooltip container */

.tooltip {
    position: relative;
    display: inline-flex;
    border-bottom: 1px dotted black;
    margin: auto;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 1em;
    border-radius: 1em;
    font-weight: 100;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 150%;
    top: 100%;
    left: 50%;
    margin-left: -50%; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.image-container {
    padding: 10px;
}
.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
